In [1]:
import pandas as pd

In [3]:
df = pd.read_excel(r"D:\riya\Finmentor_Data_REDESIGNED.xlsx")

In [4]:
df.head()

,user_id,month,monthly_income,rent,groceries,transport,utilities,dining_out,shopping,entertainment,...,total_emi,total_expense,emi_ratio,expense_ratio,savings_behaviour,emi_status,spending_behaviour,net_balance,savings_rate,persona
0,U0001,Apr,34197.60592,14083,6016,2221.0,1531,5851,4661.0,3836.0,...,10141.665136,45096.0,0.27809,1.023741,Low Saver,Normal EMI,High Spender,-12808.0,-0.253869,Financially Stressed
1,U0001,Feb,34197.60592,14083,2985,4231.8,4211,4835,1696.0,516.0,...,10141.665136,37506.8,0.27809,1.023741,Low Saver,Normal EMI,High Spender,-3746.0,-0.253869,Financially Stressed
2,U0001,Jan,34197.60592,14083,3880,4231.8,3620,3134,2937.5,5499.0,...,10141.665136,43186.3,0.27809,1.023741,Low Saver,Normal EMI,High Spender,-3729.0,-0.253869,Financially Stressed
3,U0001,Jul,34197.60592,14083,6954,5745.0,1227,3227,2937.5,4848.0,...,10141.665136,43939.5,0.27809,1.023741,Low Saver,Normal EMI,High Spender,-11473.0,-0.253869,Financially Stressed
4,U0001,Jun,34197.60592,14083,3939,3682.0,4628,4732,4476.0,4308.0,...,10141.665136,43427.0,0.27809,1.023741,Low Saver,Normal EMI,High Spender,-11139.0,-0.253869,Financially Stressed

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5014 entries, 0 to 5013
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             5014 non-null   object
 1   month               5014 non-null   object
 2   monthly_income      5014 non-null   float64
 3   rent                5014 non-null   int64
 4   groceries           5014 non-null   int64
 5   transport           5014 non-null   float64
 6   utilities           5014 non-null   int64
 7   dining_out          5014 non-null   int64
 8   shopping            5014 non-null   float64
 9   entertainment       5014 non-null   float64
 10  healthcare          5014 non-null   float64
 11  education           5014 non-null   int64
 12  total_emi           5014 non-null   float64
 13  total_expense       5014 non-null   float64
 14  emi_ratio           5014 non-null   float64
 15  expense_ratio       5014 non-null   float64
 16  savings_behaviour   5014 non-null   object
 17  emi_status          5014 non-null   object
 18  spending_behaviour  5014 non-null   object
 19  net_balance         5014 non-null   float64
 20  savings_rate        5014 non-null   float64
 21  persona             5014 non-null   object
dtypes: float64(11), int64(5), object(6)
memory usage: 861.9+ KB

In [6]:
df.describe()

,monthly_income,rent,groceries,transport,utilities,dining_out,shopping,entertainment,healthcare,education,total_emi,total_expense,emi_ratio,expense_ratio,net_balance,savings_rate
count,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000
mean,72358.936045,15723.183287,5535.818708,3518.872031,3018.639011,3938.601316,4276.449617,3237.915954,2661.789398,2975.165536,10149.430358,44823.512258,0.147377,0.643647,11767.477243,0.210379
std,17359.444968,4974.993031,2028.647626,1164.394913,1159.060345,1780.384278,1761.373071,1525.067373,1068.145056,1709.850410,2314.644162,6684.944709,0.065630,0.194453,15538.686279,0.237310
min,34197.605920,7043.000000,2000.000000,1000.000000,1000.000000,803.000000,502.000000,500.000000,300.000000,3.000000,6430.500000,25859.825000,0.026364,0.202540,-43180.000000,-0.253869
25%,63120.000000,11694.000000,3803.000000,2753.812500,2016.250000,2434.250000,3109.468750,2010.250000,1981.000000,1523.000000,9231.000000,40077.416667,0.120761,0.510455,10462.500000,0.121517
50%,82278.262720,15509.500000,5594.000000,3563.400000,3035.000000,3939.000000,4276.449617,3209.500000,2661.789398,2979.500000,10141.665136,44821.908333,0.123261,0.590033,11753.816351,0.281694
75%,82278.262720,19962.500000,7282.750000,4266.750000,4018.000000,5496.000000,5496.850000,4481.750000,3374.000000,4451.750000,11098.000000,49571.966667,0.183693,0.715758,11753.816351,0.372017
max,111126.656799,24965.000000,8998.000000,6000.000000,5000.000000,6999.000000,8000.000000,6000.000000,4996.000000,5999.000000,13898.500000,63788.291667,0.278090,1.023741,65286.000000,0.746959

In [7]:

df.isnull().sum()

user_id               0
month                 0
monthly_income        0
rent                  0
groceries             0
transport             0
utilities             0
dining_out            0
shopping              0
entertainment         0
healthcare            0
education             0
total_emi             0
total_expense         0
emi_ratio             0
expense_ratio         0
savings_behaviour     0
emi_status            0
spending_behaviour    0
net_balance           0
savings_rate          0
persona               0
dtype: int64